body {
  margin: 0;
  background-image: url("../images/body-image.jpg");
  background-size: auto;
  color: #fff;
}

/* Title Section */

.title-image {
  margin-top: 3%;
  margin-left: 4%;
}

.top-bar {
  width: 50%;
  margin-left: 19.8%;
  margin-top: 1.5%;
}

.top-bar-yellow-button {
  background-color: #F5F000;
  border-radius: 15px;
  border: 3.25px solid #000;
}

.top-bar-yellow-button:hover {
  background-color: #F5C601;
  border-color: #fff;
}

/* Page Title Section */

#page-title {
  margin-top: 1%;
  margin-left: 13%;
  border-bottom: 0.25px solid #fff;
}

/* Breadcrumbs */
.breadcrumbs {
  padding-top: 0.25%;
  padding-left: 13%;
}

.breadcrumbs-1 {
  color: #F5F000;
}

.breadcrumbs-1:hover {
  color: #F5C601;
}

/* Main Content Section */

#main-content {
  margin-top: 10%;
  margin-left: 13%;
}

.greeting {
  font-size: 3rem;
  margin-bottom: 5%;
}

.cv-image {
  border-radius: 2%;
  float: right;
  margin-right: 5%;
  padding-top: 2.5%;
  width: 30%;
}

.about-me-text {
  font-size: 1.6rem;
  color: #F5F000;
  width: 55%;
}

.styled-link {
  color: #FA8CDC;
  font-size: 1.6rem;
  text-decoration: underline;
}

.styled-link:hover {
  color: #FA00BE;
}

.whitespace-placeholder {
  margin-bottom: 10%;
}
